In [1]:
import pandas as pd
import numpy as np
from datetime import date
import seaborn as sns
from scipy import stats

# Cleaning & Exploration

In [2]:
df = pd.read_excel('C:/Users/Jordan/Desktop/jupyter notebook/Correla/Correla_Consumption.xlsx')
df.shape

(933, 4)

In [3]:
df.head()

    SITE  METER_READ_DATE       Date  VOLUME_CONSUMPTION
0  Site1         20190402 2019-04-02                   9
1  Site1         20190403 2019-04-03                  15
2  Site1         20190404 2019-04-04                  16
3  Site1         20190405 2019-04-05                  16
4  Site1         20190406 2019-04-06                   9

In [4]:
pd(df.isna())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933 entries, 0 to 932
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SITE                933 non-null    object
 1   METER_READ_DATE     933 non-null    int64
 2   Date                933 non-null    datetime64[ns]
 3   VOLUME_CONSUMPTION  933 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 29.3+ KB

In [5]:
#Used Excel to format Date therefore dropping dropping METER_READ_DATE
df = df.drop(columns= ['METER_READ_DATE'])

In [6]:
#Renaming column names to make it more accessible
df.rename(columns = {'SITE': 'Site', 'VOLUME_CONSUMPTION': 'Vol' },
         inplace=True)

In [7]:
df.describe()
#We find outlier(s) in Vol column

                 Vol
count     933.000000
mean     1076.206860
std     32738.584021
min     -3520.000000
25%         2.000000
50%         5.000000
75%        10.000000
max    999999.000000

In [8]:
print(df[np.abs(df.Vol - df.Vol.mean()) > 1.5*df.Vol.std() ])

      Site       Date     Vol
751  Site3 2019-06-05  999999

In [15]:
#Identitying outliers and removing them
outlierpos = (np.where(df['Vol'] > 50))
outlierneg = (np.where(df['Vol'] < -10))
print(outlierpos, outlierneg)

(array([ 49, 647, 751], dtype=int64),) (array([244, 245, 361], dtype=int64),)

In [10]:
df = df.drop([49,647, 751, 134, 244, 245, 361])

In [11]:
#Example: We see record 49 has been removed, if we look at the date it skips 	2019-05-23
df[45:50]

     Site       Date  Vol
45  Site1 2019-05-19    6
46  Site1 2019-05-20    3
47  Site1 2019-05-21    3
48  Site1 2019-05-22    1
50  Site1 2019-05-24    2

In [12]:
#Viewing new descriptive analysis of data (no outliers)
df.describe()

              Vol
count  926.000000
mean     6.322894
std      5.108599
min      0.000000
25%      2.000000
50%      5.000000
75%     10.000000
max     21.000000

In [13]:
#Find outlier(s) in Date Column
print(df[np.abs(df.Date - df.Date.mean()) > 1.5*df.Date.std() ])

      Site       Date  Vol
304  Site1 1900-02-19   15

In [14]:
#Drops row 304 that contains outlier 
df = df.drop([304])

In [15]:
df[290:307]

      Site       Date  Vol
294  Site1 2020-02-09    9
295  Site1 2020-02-10   14
296  Site1 2020-02-11   14
297  Site1 2020-02-12   10
298  Site1 2020-02-13   12
299  Site1 2020-02-14   20
300  Site1 2020-02-15   16
301  Site1 2020-02-16   12
302  Site1 2020-02-17    8
303  Site1 2020-02-18   16
305  Site1 2020-02-20   12
306  Site1 2020-02-21   20
307  Site1 2020-02-22   16
308  Site1 2020-02-23   14
309  Site1 2020-02-24   14
310  Site1 2020-02-25   14
311  Site1 2020-02-26   15

In [16]:
#All in correct data type and format
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 925 entries, 0 to 932
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Site    925 non-null    object
 1   Date    925 non-null    datetime64[ns]
 2   Vol     925 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 28.9+ KB

In [17]:
#Create new column by site number
#site1=0
#site2=1
#site3=2
df['SiteNo'] = df['Site'].factorize()[0]

In [18]:
#Saving data as whole after cleaning
df.to_excel('CorrelaCleanData.xlsx')

In [19]:
#splitting each site uniquely
sites = df['SiteNo'].unique().tolist()
site1 = df.loc[df.SiteNo==0]
site2 = df.loc[df.SiteNo==1]
site3 = df.loc[df.SiteNo==2]

In [20]:
print(site1, site2, site3)

      Site       Date  Vol  SiteNo
0    Site1 2019-04-02    9       0
1    Site1 2019-04-03   15       0
2    Site1 2019-04-04   16       0
3    Site1 2019-04-05   16       0
4    Site1 2019-04-06    9       0
..     ...        ...  ...     ...
342  Site1 2020-03-28   15       0
343  Site1 2020-03-29   13       0
344  Site1 2020-03-30   13       0
345  Site1 2020-03-31   19       0
346  Site1 2020-04-01   17       0

[342 rows x 4 columns]       Site       Date  Vol  SiteNo
347  Site2 2019-04-02    3       1
348  Site2 2019-04-03    3       1
349  Site2 2019-04-04    3       1
350  Site2 2019-04-05    4       1
351  Site2 2019-04-06    3       1
..     ...        ...  ...     ...
684  Site2 2020-03-28    7       1
685  Site2 2020-03-29    4       1
686  Site2 2020-03-30    6       1
687  Site2 2020-03-31    6       1
688  Site2 2020-04-01    7       1

[340 rows x 4 columns]       Site       Date  Vol  SiteNo
689  Site3 2019-04-02    9       2
690  Site3 2019-04-03   16       2
691  Site3 2019-04-04   14       2
692  Site3 2019-04-05   15       2
693  Site3 2019-04-06   13       2
..     ...        ...  ...     ...
928  Site3 2020-03-28    9       2
929  Site3 2020-03-29   10       2
930  Site3 2020-03-30   12       2
931  Site3 2020-03-31   12       2
932  Site3 2020-04-01    8       2

[243 rows x 4 columns]

In [21]:
#Saves file for each site
site1.to_excel('site1.xlsx')
site2.to_excel('site2.xlsx')
site3.to_excel('site3.xlsx')